<md-dialog aria-label="Fname">
  <form name="referalForm" ng-cloak ng-submit="vm.saveReferral(referalForm)">
    
    <md-toolbar class="md-accent md-hue-2" layout="column">
      <div class="md-toolbar-tools">
        <span class="title" style="font-size: 17px;">Reffer to your friend and get bonus</span>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()">
          <md-icon md-font-icon="icon-close-circle" aria-label="Close New Form Page"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-actions layout="row">
      <md-button type="submit" ng-disabled="referalForm.$invalid">
       Reffer
      </md-button>
    </md-dialog-actions>
  
    <md-dialog-content>
      <div layout="column">
        
        <md-input-container class="md-block">
          <label>Full Name</label>
          <input type="text" name="first_name" ng-model="vm.current.fullName" required md-autofocus>

          <div ng-messages="referalForm.first_name.$error" role="alert">
              <div ng-message="required">
                  <span>First Name Required</span>
              </div>
          </div>
        </md-input-container>
        <md-input-container>
  
          <label>Email</label>
          <input type="email" name="last_name" ng-model="vm.current.email" required md-autofocus>

          <div ng-messages="referalForm.last_name.$error" role="alert">
              <div ng-message="required">
                  <span>Email is required</span>
              </div>
          </div>
        </md-input-container>

        <md-input-container>
  
          <label>Website</label>
          <input type="url" name="website" ng-model="vm.current.website" md-autofocus>

          <div ng-messages="referalForm.website.$error" role="alert">
              <div ng-message="required">
                  <span>Website is required</span>
              </div>
          </div>
        </md-input-container>

      </div>  
    </md-dialog-content>
  </form>
</md-dialog>