<!-- CONTACT - DEFAULT VIEW -->
<div ng-show="vm.rightSidenavView === 'visitor-info'" 
	 class="view contact-view"
     ng-include="'app/main/apps/chat/sidenavs/right/views/contact/contact-view.html'"
     layout="column" flex>
</div>

<div ng-show="vm.rightSidenavView === 'macro-list'"
     class="view marco-view animate-slide-left"
     ng-include="'app/main/apps/chat/sidenavs/right/views/macros/macro-list.html'"
     layout="column" flex>
</div>


<!-- / CONTACT - DEFAULT VIEW -->