<md-dialog>
  <form name="messageForm" ng-cloak ng-submit="vm.callContactForProcing(vm.pricingContactMessage)">
    
    <md-toolbar class="md-accent md-hue-2" layout="column">
      <div class="md-toolbar-tools">
        <span class="title" style="font-size: 17px;">You can leave a message, so that we can help you custom plans.</span>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()">
          <md-icon md-font-icon="icon-close-circle" aria-label="Close New Form Page"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-actions layout="row">
      <md-button type="submit" ng-disabled="messageForm.$invalid">
       Send
      </md-button>
    </md-dialog-actions>
  
    <md-dialog-content>
      <div layout="column">
         <md-input-container class="md-block">
          <label>Message </label>
          <textarea type="text" required name="message" ng-model="vm.pricingContactMessage" placeholder="Type your message" required></textarea>
        </md-input-container>

      </div>
    </md-dialog-content>
      

  </form>
</md-dialog>