<md-dialog aria-label="Mango (Fruit)">
  <form name="pageForm" ng-cloak ng-submit="vm.saveWebsite(pageForm)">
    
    <md-toolbar class="md-accent md-hue-2" layout="column">
      <div class="md-toolbar-tools">
        <span class="title" style="font-size: 17px;">Different Payment gateway</span>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()">
          <md-icon md-font-icon="icon-close-circle" aria-label="Close New Form Page"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
  
    <md-dialog-content>
        
        <md-list>
          <md-subheader class="md-no-sticky">Currently We have these payments methods available</md-subheader>

          <md-list-item class="md-2-line">
            
            <md-input-container>
              <md-label>Choose Plan Type</md-label>
              <md-select ng-model="vm.selectedPlanPrice"> <!--md-on-close: expression; multiple:boolean; placeholder: string;-->
                <md-option ng-value="price" ng-repeat="price in vm.selectedPlan.price">{{ price.term }}</md-option>
              </md-select>
            </md-input-container>
          
          </md-list-item>
  
          <md-divider></md-divider>
           <md-subheader class="md-no-sticky">Choose payment menthods</md-subheader>

          <md-list-item class="md-2-line">

            <md-button class="md-raised" ng-href="{{ vm.baseUrl + 'api/payment/paypal/' + vm.selectedPlanPrice.term + '/' + vm.selectedPlan.plan +'/'+ vm.websites.settingOpened.website.id  }}" target="_blank">Paypal
          
             <md-icon md-font-icon="icon-currency-usd"></md-icon>
          
             </md-button>
          
          </md-list-item>

          <md-list-item class="md-2-line">
            <md-button class="md-raised" ng-href="{{ vm.baseUrl + 'api/payment/esewa/' + vm.selectedPlanPrice.term + '/' + vm.selectedPlan.plan +'/'+vm.websites.settingOpened.website.id }}" target="_blank">Esewa
              <md-icon md-font-icon="icon-currency-usd"></md-icon>
            </md-button>
          </md-list-item>
          

        </md-list>

    </md-dialog-content>
      

  </form>
</md-dialog>