<md-dialog>
  <form name="messageForm" ng-cloak ng-submit="vm.sendMessageToAll(vm.messageToSend)">
    
    <md-toolbar class="md-accent md-hue-2" layout="column">
      <div class="md-toolbar-tools">
        <span class="title" style="font-size: 17px;">Send Message to all Visitors at once</span>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()">
          <md-icon md-font-icon="icon-close-circle" aria-label="Close New Form Page"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-actions layout="row">
      <md-button type="submit" ng-disabled="messageForm.$invalid">
       Send
      </md-button>
    </md-dialog-actions>
  
    <md-dialog-content>
      <div layout="column">
      <h1>This allows you to send message at once to all active visitors.</h1>
         <md-input-container class="md-block">
          <label>Message </label>
          <textarea type="text" required name="message" ng-model="vm.messageToSend.message" placeholder="Type your message" required></textarea>
        </md-input-container>

        <md-input-container class="md-block">
          <md-select ng-model="vm.messageToSend.type"> <!--md-on-close: expression; multiple:boolean; placeholder: string;-->
            <md-select-label>Select Notification Type</md-select-label>
            <md-option ng-value="opt" ng-repeat="opt in ['push','local']">{{ opt }}</md-option>
          </md-select>
        </md-input-container>

      </div>
    </md-dialog-content>
      

  </form>
</md-dialog>