<md-dialog>
  <form name="pageForm" ng-cloak ng-submit="vm.saveWebsite(pageForm)">
    
    <md-toolbar class="md-accent md-hue-2" layout="column">
      <div class="md-toolbar-tools">
        <span class="title" style="font-size: 17px;">{{ vm.websiteDialogTitle || "Please fill up your website details" }}</span>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()">
          <md-icon md-font-icon="icon-close-circle" aria-label="Close New Form Page"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-actions layout="row">
      <md-button type="submit">
       Save
      </md-button>
    </md-dialog-actions>
  
    <md-dialog-content>
      <div layout="column">
        <md-input-container class="md-block">
          <label>Website Url</label>
          <input type="text" placeholder="Give Us your Website Url" name="website" ng-model="vm.new.name" required md-autofocus>
        </md-input-container>

         <md-input-container class="md-block">
          <label>Alias </label>
          <input type="text" required name="alias" ng-model="vm.new.alias" placeholder="Alis is a unique name for this website." required>

          <div ng-messages="pageForm.alias.$error" role="alert">
              <div ng-message="required">
                  <span>Alias is required</span>
              </div>
          </div>
        </md-input-container>

      <md-input-container>
        <label>Description</label>
        <textarea ng-model="vm.new.description"></textarea>
      </md-input-container>

      </div>
    </md-dialog-content>
      

  </form>
</md-dialog>