<!-- CONTACT TOOLBAR -->
<md-toolbar class="md-tall md-accent">

    <!-- TOOLBAR TOP -->
    <div class="md-toolbar-tools md-toolbar-tools-top">

        <div>Visitor Info</div>

        <div flex></div>

        <md-button class="md-icon-button" ng-click="vm.toggleSidenav('right-sidenav')" aria-label="back">
            <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>

    </div>
    <!-- / TOOLBAR TOP -->

    <!-- TOOLBAR BOTTOM -->
    <div class="md-toolbar-tools md-toolbar-tools-bottom" flex layout="column" layout-align="center center">

        <div layout="column" layout-align="center center">

            <img ng-src="{{ vm.currentChat.avatar }}" class="md-avatar avatar contact-avatar huge"
                 alt="{{vm.currentChat.fullName}}"/>

            <div class="contact-name">{{vm.currentChat.fullName}}</div>

        </div>

    </div>
    <!-- / TOOLBAR BOTTOM -->

</md-toolbar>
<!-- / CONTACT TOOLBAR -->

<!-- CONTACT CONTENT -->
<md-content class="md-hue-2" flex ms-scroll ms-padding>

    <!-- CONTACT MOOD -->
    <md-card>

        <md-card-title>IP Address</md-card-title>

        <md-card-content>
            <span class="mood">
                {{ vm.currentChat.IpInfoDb.ipaddress }}
            </span>
        </md-card-content>

    </md-card>

    <md-card>

        <md-card-title>Country</md-card-title>

        <md-card-content class="f32">

            <span class="mood" layout="row" layout-align="space-between-center">
                <span>{{vm.currentChat.IpInfoDb.cityname}}{{ vm.currentChat.IpInfoDb.countryname ? ',' : '' }}{{vm.currentChat.IpInfoDb.countryname}}</span>
                <span class="flag" ng-class="vm.currentChat.IpInfoDb.countrycode"></span>
            </span>

        </md-card-content>

    </md-card>

    <md-card>

        <md-card-title>Time Zone</md-card-title>

        <md-card-content>

            <span class="mood">
                {{vm.currentChat.IpInfoDb.timezone}}
            </span>

        </md-card-content>

    </md-card>

    <md-card>

        <md-card-title>Current Page</md-card-title>

        <md-card-content>

             <div class="mood">
                <a ng-href="{{ vm.currentChat.CurrentUrl }}" target="_blank" style="word-break: break-all;">{{ vm.currentChat.CurrentPage }}</a>    
            </div>
            <md-divider></md-divider>
            <div ng-if="vm.currentChat.SitePages">
                <div ng-repeat="url in vm.currentChat.SitePages">
                    <a ng-href="{{ url.Url }}" style="word-break: break-all;">{{ url.PageTitle }}</a>
                    <span>{{ url.DateTime | altDate}}</span>    
                </div>
                <md-divider></md-divider>
            </div>


        </md-card-content>

    </md-card>

    <md-card>

        <md-card-title>Geo Location</md-card-title>

        <md-card-content>

            <span class="mood">
    



                <a ng-href=" https://www.google.com/maps?&z=10&q={{ vm.currentChat.IpInfoDb.latitude }}+{{ vm.currentChat.IpInfoDb.longitude }}&ll={{ vm.currentChat.IpInfoDb.latitude }}+{{ vm.currentChat.IpInfoDb.longitude }}" target="_blank">
              {{ vm.currentChat.IpInfoDb.latitude }},{{vm.currentChat.IpInfoDb.longitude}}
            </span>

        </md-card-content>

       

    </md-card>




    <!-- / CONTACT MOOD -->

</md-content>
<!-- / CONTACT CONTENT -->