<div id="project-page" class="page-layout carded fullwidth" layout="row">
    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->
    <!-- CENTER -->
    <div class="center" layout="column" flex>
        <!-- CONTENT HEADER -->
        <div class="header">
            <span class="h2 white-fg">Your websites</span>
        </div>
        <!-- / CONTENT HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex ng-hide="vm.websites.settingOpened">
            <!-- CONTENT TOOLBAR -->
            <div id="advert-holder" class="toolbar" layout="row" layout-align="center start">
                <span bind-script="me.advert"></span>
            </div>
            <!-- / CONTENT TOOLBAR -->
            <!-- CONTENT -->
            <md-content class="content" flex ms-scroll ng-style="{'flex-wrap': $mdMedia('xs') ? 'nowrap' : '' }" layout-wrap style="background: #f1f1f1;" layout="row" layout-xs="column">
                <div flex="25" layout-margin flex-sm="45" flex-xs="100" ng-repeat="website in vm.websites.list">
                    <div ng-click="vm.openSetting(website, $index)" class="md-whiteframe-2dp layout-padding" layout="column" layou-align="space-between center">
                        <div class="list-card-name-comp">
                            <div layout="row" layout-align="space-between center">
                                <h3>{{ website.name }}</h3>
                                <div>
                                    <img class="avatar" ng-if="website.logo" ng-src="{{website.logo}}">
                                    <md-menu md-offset="0 48px" class="options">
                                        <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="Options" translate translate-attr-aria-label="SB.OPTIONS">
                                            <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                        </md-button>
                                        <md-menu-content class="options-menu-content" width="4">
                                            <md-menu-item>
                                                <md-button ng-click="vm.addWebsiteIdentity($event, website)" aria-label="Add Identity" translate translate-attr-aria-label="SB.REMOVE_CARD">
                                                    <md-icon md-font-icon="icon-user" md-menu-align-target></md-icon>
                                                    <span>Add Your Identity</span>
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>
                            </div>
                            <p>{{ website.alias }}</p>
                        </div>
                        <div layout="column">
                            <div>
                                <p>Admin/Operators</p>
                            </div>
                            <div class="list-card-members-comp" layout="row" layout-wrap>
                                <div class="list-card-member-comp" ng-repeat="op in website.operators">
                                    <md-tooltip>
                                        {{ op.fullName }}
                                    </md-tooltip>
                                    <img class="avatar avatar-sm" ng-src="{{ op.avatar }}" alt="{{ op.fullName }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="!vm.websiteLoaded" flex>
                    <div layout="row" layout-sm="column" layout-align="space-around">
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </div>
                </div>
                <div ng-if="vm.websiteLoaded && vm.websites.list.length == 0" flex layout-align="center center">
                    You have not added any website. Please create a new to start
                </div>
            </md-content>
            <!-- / CONTENT -->
        </div>
        <div class="content-card animate-slide-left" layout="column" flex ng-if="vm.websites.settingOpened">
            <!-- CONTENT TOOLBAR -->
            <div class="toolbar md-accent" layout="row" layout-align="space-between center">
                <div>
                    <md-button class="md-icon-button" ng-click="vm.closeSetting()">
                        <md-icon md-font-icon="icon-arrow-left"></md-icon>
                    </md-button>
                    <span>{{vm.websites.settingOpened.website.name}}</span>
                </div>
                <div>
                    <md-button class="md-icon-button" confirm-action="vm.deleteWebsite()" confirm-callback="vm.closeSetting()">
                        <md-icon md-font-icon="icon-delete"></md-icon>
                        <md-tooltip>Remove This Website</md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="vm.openMessageTOAllForm($event)">
                        <md-icon md-font-icon="icon-radio-tower"></md-icon>
                        <md-tooltip>Send Message To All Visitors</md-tooltip>
                    </md-button>
                </div>
            </div>
            <!-- / CONTENT TOOLBAR -->
            <!-- CONTENT -->
            <md-content class="content" flex ms-scroll="{'suppressScrollX': true}" suppress-scroll-y="true" layout-wrap style="background: #f1f1f1" layout="row">
                <md-tabs md-dynamic-height md-border-bottom style="flex-shrink: 1; overflow:visible;width: 100%">
                    <md-tab label="Script Generator" md-on-select="vm.loadScript()">
                        <md-content class="md-padding">
                            <h3>Copy this script keep it inside the body tag of your website.
                                <span>
                                        <md-button class="md-icon-button" ng-click="vm.copyToClipboard()"><md-icon md-font-icon="icon-clipboard-text"></md-icon>
                                        <md-tooltip>Copy To Clipboard</md-tooltip>
                                    </md-button>
                                </span>
                            </h3>
                            <code class="app-script">{{ vm.websites.settingOpened.website.script }}</code>
                        </md-content>
                    </md-tab>
                    <md-tab label="Basic Settings">
                        <md-content class="md-padding">
                            <form name="vm.forms.basicSetting">
                                <h3>Basic info setting of your website</h3>
                                <md-input-container class="md-block">
                                    <label>Website</label>
                                    <input type="text" ng-pattern="/^(https?://)?[a-zA-Z0-9][a-zA-Z0-9-]{1,61}[a-zA-Z0-9](?:\.[a-zA-Z]{2,})+$/" name="website" ng-model="vm.websites.settingOpened.website.name" required md-autofocus>
                                    <div ng-messages="vm.forms.basicSetting.website.$error" role="alert">
                                        <div ng-message="pattern">
                                            <span>Website domain is required</span>
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Alias</label>
                                    <input readonly type="text" required name="alias" ng-model="vm.websites.settingOpened.website.alias" required>
                                    <div ng-messages="vm.forms.basicSetting.alias.$error" role="alert">
                                        <div ng-message="required">
                                            <span>Alias is required</span>
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container>

                                    <label>Description</label>
                                    <textarea cols="100" ng-model="vm.websites.settingOpened.website.description"></textarea>
                                </md-input-container>
                                <div> <img class="avatar avatar-large" ng-src="{{vm.websites.settingOpened.website.logo}}" ng-if="vm.websites.settingOpened.website.logo && !vm.croppedLogo">
                                    <img class="avatar avatar-large" ng-src="{{vm.croppedLogo}}" ng-if="vm.croppedLogo"></div>
                                <p>Website logo</p>
                                <div id="file-upload-drop" dropzone="vm.output" result-img="vm.croppedLogo">
                                </div>
                                <md-button class="md-primary md-raised" ng-click="vm.saveWebsiteLogo(vm.websites.settingOpened.website)">
                                    Save
                                </md-button>
                            </form>
                        </md-content>
                    </md-tab>
                    <md-tab label="Macro Settings">
                        <md-content layout-padding>
                            <h3>Macros</h3>
                            <h4>
                                Marco lets you to have fun while interacting with visitors. For example: You can create a marco "hello" and set output "Hello. Welcome to our website. How can I help ?" </h4>
                            <div style="padding-top: 12px; padding-bottom: 36px;">
                            </div>
                            <md-expansion-panel ng-repeat="macro in vm.websites.settingOpened.website.macros" md-component-id="expansion-{{macro.id}}">
                                <md-expansion-panel-collapsed ng-click="vm.loadMacroEditForm( macro, $index, $panel )">
                                    <div class="md-title">{{macro.name}}</div>
                                    <div class="md-summary">{{macro.textorURL}}</div>
                                    <div><span>Type: </span>{{ marco.type == 0 ? 'Text' : 'Push' }}</strong>
                                    </div>
                                    <md-button confirm-action="vm.removeMarco(macro, $index)" class="md-icon-button">
                                        <md-icon md-font-icon="icon-delete"></md-icon>
                                    </md-button>
                                    <md-expansion-panel-icon></md-expansion-panel-icon>
                                </md-expansion-panel-collapsed>
                                <md-expansion-panel-expanded>
                                    <md-expansion-panel-header ng-click="vm.saveMacroEditForm(macroEditForm)">
                                        <div class="md-title">{{macro.name}}</div>
                                        <div class="md-summary"></div>
                                        <md-expansion-panel-icon></md-expansion-panel-icon>
                                    </md-expansion-panel-header>
                                    <md-expansion-panel-content>
                                        <form name="macroEditForm" ng-if="vm.websites.editingMacro && vm.websites.editingMacro.index == $index">
                                            <div layout="row">
                                                <md-input-container flex="40">
                                                    <label>Name</label>
                                                    <input type="text" ng-model="vm.websites.editingMacro.macro.name" name="name" required placeholder="Macro ">
                                                    <div ng-messages="macroEditForm.name.$error" role="alert">
                                                        <div ng-message="required">
                                                            <span>Macro Name is required</span>
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                                <span flex></span>
                                                <md-input-container flex="40">
                                                    <label>Output</label>
                                                    <input type="text" ng-disabled="vm.websites.editingMacro.macro.pushMacro.length >= 1" ng-model="vm.websites.editingMacro.macro.outputMacro" placeholder="Macro Output Text">
                                                </md-input-container>
                                            </div>
                                            <div layout="row">
                                                <md-input-container flex="100">
                                                    <label>Navigation Macros</label>
                                                    <input ng-disabled="vm.websites.editingMacro.macro.outputMacro.length >= 1" type="text" ng-model="vm.websites.editingMacro.macro.pushMacro" ng-pattern="/((https?:\/\/)?(?:www\.|(?!www))[^\s\.]+\.[^\s]{2,}|www\.[^\s]+\.[^\s]{2,})/" name="navigationMacro"
                                                        placeholder="If you want your macros to do things like navigate user to certain, leave output field empty and give a url here">
                                                    <div ng-messages="macroEditForm.navigationMacro.$error" role="alert">
                                                        <div ng-message="pattern">
                                                            <span>Url needs to be valid</span>
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                            <div layout="row">
                                                <md-button class="md-raised md-primary" ng-click="vm.saveMacroEditForm(macroEditForm)">
                                                    Save your macro
                                                </md-button>
                                            </div>
                                        </form>
                                    </md-expansion-panel-content>
                                </md-expansion-panel-expanded>
                            </md-expansion-panel>
                            <br/>
                            <md-expansion-panel md-component-id="addMacro">
                                <md-expansion-panel-collapsed>
                                    <div class="md-title">Add New</div>
                                    <div class="md-summary">A a new macros quickly and configure it.</div>
                                    <md-expansion-panel-icon ng-click="$panel.collapse()"></md-expansion-panel-icon>
                                </md-expansion-panel-collapsed>
                                <md-expansion-panel-expanded>
                                    <md-expansion-panel-header ng-click="$panel.collapse()">
                                        <div class="md-title">Add New Macro</div>
                                        <div class="md-summary"></div>
                                        <md-expansion-panel-icon></md-expansion-panel-icon>
                                    </md-expansion-panel-header>
                                    <md-expansion-panel-content>
                                        <form name="vm.form.macroForm">
                                            <div layout="row" layout-xs="column">
                                                <md-input-container flex="40">
                                                    <label>Name</label>
                                                    <input type="text" ng-model="vm.newMacro.name" name="name" required placeholder="Macro Name">
                                                    <div ng-messages="vm.form.macroForm.name.$error" role="alert">
                                                        <div ng-message="required">
                                                            <span>Title field is required</span>
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                                <span flex></span>
                                                <md-input-container flex="40">
                                                    <label>Output</label>
                                                    <input type="text" ng-disabled="vm.newMacro.pushMacro.length >= 1" ng-model="vm.newMacro.outputMacro" placeholder="Output Text">
                                                </md-input-container>
                                            </div>
                                            <div layout="row">
                                                <md-input-container flex="100">
                                                    <label>Navigation Macros</label>
                                                    <input ng-disabled="vm.newMacro.outputMacro.length >= 1" type="text" ng-model="vm.newMacro.pushMacro" ng-pattern="/(https?:\/\/(?:www\.|(?!www))[^\s\.]+\.[^\s]{2,}|www\.[^\s]+\.[^\s]{2,})/" name="navigationMacro" placeholder="If you want your macros to do things like naviating, leave output field empty and give a url to me">
                                                    <div ng-messages="vm.form.macroForm.navigationMacro.$error" role="alert">
                                                        <div ng-message="pattern">
                                                            <span>Title field is required</span>
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                            <div layout="row">
                                                <md-button class="md-raised md-primary" ng-click="vm.saveNewMacro(vm.form.macroForm,$panel)">
                                                    Save your macro
                                                </md-button>
                                            </div>
                                        </form>
                                    </md-expansion-panel-content>
                                </md-expansion-panel-expanded>
                            </md-expansion-panel>
                        </md-content>
                    </md-tab>
                    <md-tab label="Operators" md-on-select="vm.loadOperators()">
                        <md-content class="md-padding">
                            <h3>You can add remove any operators by sending an invitation</h3>
                            <md-expansion-panel ng-repeat="op in  vm._currentWebsiteOperators">
                                <md-expansion-panel-collapsed>
                                    <div><img ng-src="{{op.avatar}}" class="avatar"></div>
                                    <div class="md-title">{{ op.fullName }}</div>
                                    <div class="md-summary">{{ op.email }}</div>
                                    <md-expansion-panel-icon ng-click="$panel.collapse()"></md-expansion-panel-icon>
                                </md-expansion-panel-collapsed>
                                <md-expansion-panel-expanded>
                                    <md-expansion-panel-header ng-click="$panel.collapse()">
                                        <div class="md-title">{{ op.fullName }}</div>
                                        <div class="md-summary">{{ op.email }}</div>
                                        <md-expansion-panel-icon></md-expansion-panel-icon>
                                    </md-expansion-panel-header>
                                    <md-expansion-panel-content>
                                        <form name="operatorForm">
                                            <div layout="row">
                                                <img class="avatar" ng-src="{{ op.avatar }}">
                                                <md-chips md-on-add="vm.roleAdd(op, $index, $chip)" md-on-remove="vm.roleDelete(op, index, $chip)" placeholder="Roles" class="label-chips" ng-model="op.role" md-autocomplete-snap md-require-match="true" md-transform-chip="$chip.id">
                                                    <md-autocomplete md-selected-item="vm.selectedRole" md-search-text="vm.searchRole" md-items="role in vm.roleQuerySearch(vm.searchRole)" md-item-text="role.name" placeholder="Search for a role">
                                                        <span md-highlight-text="vm.searchRole">{{role}}</span>
                                                    </md-autocomplete>
                                                    <button md-chip-remove class="md-primary">
                                                        <md-icon md-font-icon="icon-close" class="s18"></md-icon>
                                                    </button>
                                                </md-chips>
                                            </div>
                                        </form>
                                    </md-expansion-panel-content>
                                </md-expansion-panel-expanded>
                            </md-expansion-panel>
                            <md-expansion-panel>
                                <md-expansion-panel-collapsed>
                                    <div class="md-title">Add New</div>
                                    <div class="md-summary">Invite a new Operator</div>
                                    <md-expansion-panel-icon ng-click="$panel.collapse()"></md-expansion-panel-icon>
                                </md-expansion-panel-collapsed>
                                <md-expansion-panel-expanded>
                                    <md-expansion-panel-header ng-click="$panel.collapse()">
                                        <div class="md-title">Enter the email address</div>
                                        <div class="md-summary">We will send an email invitation</div>
                                        <md-expansion-panel-icon></md-expansion-panel-icon>
                                    </md-expansion-panel-header>
                                    <md-expansion-panel-content>
                                        <form name="operatorForm">
                                            <div layout="row">
                                                <md-input-container flex="40">
                                                    <label>Email</label>
                                                    <input type="text" ng-model="vm.newOperator.email" ng-pattern="/^[\w.-]+@[a-zA-Z_]+?\.[a-zA-Z]{2,}$/" name="name" required placeholder="Email Address">
                                                    <div ng-messages="operatorForm.name.$error" role="alert">
                                                        <div ng-message="required">
                                                            <span>Email address is required</span>
                                                        </div>
                                                        <div ng-message="pattern">
                                                            <span>Email doesn't seems valid</span>
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                                <md-input-container flex="40">
                                                    <label>Roles</label>
                                                    <md-select ng-model="vm.newOperator.role" placeholder="Select A Role">
                                                        <md-option ng-value="role" ng-repeat="role in vm.roles">{{ role }}</md-option>
                                                    </md-select>
                                                </md-input-container>
                                                <md-button class="md-icon-button" ng-click="vm.addNewOperator(operatorForm);$panel.collapse();">
                                                    <md-icon md-font-icon="icon-account-plus"></md-icon>
                                                </md-button>
                                            </div>
                                        </form>
                                    </md-expansion-panel-content>
                                </md-expansion-panel-expanded>
                            </md-expansion-panel>
                        </md-content>
                    </md-tab>
                    <md-tab md-on-select="vm.onPricingOpened(vm.websites.settingOpened.website.websiteType)" label="Current Plan" ms-scroll>
                        <md-content class="">
                            <div class="price-tables" flex layout="row" layout-align="start start" layout-wrap>
                                <div ng-repeat="pricing in vm.plans" class="price-table style-3 md-whiteframe-1dp" layout="column">

                                    <div class="package-type">

                                        <div class="title">{{ pricing.plan }}</div>
                                    </div>
                                    <div class="price md-primary-bg md-hue-3" layout="row" layout-align="center start" ng-repeat="price in pricing.price">
                                        <div class="currency">$</div>
                                        <div layout="row" layout-align="center end">
                                            <div class="value">{{ price.price }}</div>
                                            <div class="period">{{ price.term }}</div>
                                        </div>
                                    </div>


                                    <div class="terms" layout="column" layout-align="start center">
                                        <div class="term" ng-repeat="description in pricing.description" style="text-align: center">{{ description.text }}</div>
                                    </div>

                                    <md-button ng-if="$index === 0" class="cta-button md-raised md-accent" ng-click="vm.switchToFree()" ng-disabled="vm.currentSelectedPricingIndex === $index">

                                        {{ vm.currentSelectedPricingIndex === $index ? 'Current Plan' : 'Swich To Basic Version' }}

                                    </md-button>

                                    <md-button ng-if="$index !==  0 && $index !== (vm.plans.length - 1)" class="cta-button md-raised md-accent" ng-click="vm.upgradePricing(ev, pricing)" ng-disabled="vm.currentSelectedPricingIndex === $index">

                                        <span ng-if="vm.currentSelectedPricingIndex !== $index">{{ vm.currentSelectedPricingIndex > $index ? 'Downgrade' : 'Upgrade'  }}</span>

                                        <span ng-if="vm.currentSelectedPricingIndex === $index">Current Plan</span>


                                    </md-button>

                                    <md-button ng-if="$index === (vm.plans.length - 1)" class="cta-button md-raised md-accent" ng-click="me.widgetVisible = !me.widgetVisible" ng-disabled="vm.currentSelectedPricingIndex === $index">

                                        {{ 'Contact Us' }}

                                    </md-button>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Widget" md-on-select="vm.loadWidgets()">
                        <md-content class="md-padding">
                            <h3>You can choose different chat widget for your website</h3>
                            <md-content class="content" flex ms-scroll layout-wrap layout="row">
                                <div style="height: 100%;" class="list-card-comp md-whiteframe-2dp" ng-repeat="widget in vm.widgets" flex="20" flex-sm="40" flex-xs="100" flex-md="30">
                                    <div>
                                        <div ng-click="vm.selectWidget(widget)" class="project-link" layout="column" layout-fill layout-align="space-between start">
                                            <div class="list-card-name-comp">
                                                <h4><a target="_blank" ng-href="{{ widget.link }}">{{ widget.name }}</a></h4>
                                            </div>
                                            <div class="list-card-cover">
                                                <img ng-src="{{ widget.image }}">
                                            </div>

                                            <md-icon ng-if="vm.websites.settingOpened.website.widgetId === widget.id" md-font-icon="icon-check"></md-icon>
                                        </div>
                                    </div>
                                </div>
                            </md-content>
                        </md-content>
                    </md-tab>
                    <md-tab label="Other Settings" md-on-select="vm.loadOption()">
                        <md-content class="md-padding">
                            <!-- Settings -->
                            <h3>You can change different options for your chat widgets</h3>
                            <md-expansion-panel>
                                <md-expansion-panel-collapsed>
                                    <div class="md-title">Options</div>
                                    <div class="md-summary">Change your widget options</div>
                                    <md-expansion-panel-icon ng-click="$panel.collapse()"></md-expansion-panel-icon>
                                </md-expansion-panel-collapsed>
                                <md-expansion-panel-expanded>
                                    <md-expansion-panel-header ng-click="$panel.collapse()">
                                        <div class="md-title">Options</div>
                                        <div class="md-summary">Change your widget options</div>
                                        <md-expansion-panel-icon></md-expansion-panel-icon>
                                    </md-expansion-panel-header>
                                    <md-expansion-panel-content>
                                        <md-list>
                                            <md-list-header>You can change your widget options</md-list-header>
                                            <md-list-item class="md-2-line">
                                                <div class="md-list-item-text">
                                                    <h3>Hide the widget when all agents are offline.</h3>
                                                    <p> If you disable this feature then an offline form for sending message to email will be displayed</p>
                                                </div>
                                                <md-switch ng-model="vm.websites.settingOpened.website.options.widgetVisible" aria-label="Setting" ng-change="vm.changeOptions('widgetVisible')">
                                                    {{ message }}
                                                </md-switch>
                                            </md-list-item>
                                            <md-list-item class="md-2-line">
                                                <div class="md-list-item-text">
                                                    <h3>Enable Social Login Option For Visitors</h3>
                                                    <p>User will be able to provide their personal info using their social logins</p>
                                                </div>
                                                <md-switch ng-model="vm.websites.settingOpened.website.options.forceSocialLogin" aria-label="Setting" ng-change="vm.changeOptions('forceSocialLogin')">
                                                    {{ message }}
                                                </md-switch>
                                            </md-list-item>

                                             <md-list-item class="md-2-line">
                                                <div class="md-list-item-text">
                                                    <h3>Force User To Use Social Login before chat</h3>
                                                    <p>User must porvide their information through social login before initiating chat</p>
                                                </div>
                                                <md-switch ng-model="vm.websites.settingOpened.website.options.enableSocialLogin" aria-label="Setting" ng-change="vm.changeOptions('enableSocialLogin')">
                                                    {{ message }}
                                                </md-switch>
                                            </md-list-item>

                                            <md-list-item class="md-2-line">
                                                <div class="md-list-item-text">
                                                    <h3>Encrypted Connection</h3>
                                                    <p>Enable SSL encryption for connections between the visitors' browsers and the LiveCustomerChat server</p>
                                                </div>
                                                <md-switch ng-model="vm.websites.settingOpened.website.options.enableSSL" aria-label="Setting" ng-change="vm.changeOptions('enableSSL')">
                                                    {{ message }}
                                                </md-switch>
                                            </md-list-item>

                                            <md-list-item class="md-2-line">
                                                <div class="md-list-item-text">
                                                    <h3>Forced Websited Info</h3>
                                                    <p>The Visitor will see the name and description of this website, on the side menu, rather then operator information forcefully.</p>
                                                </div>
                                                <md-switch ng-model="vm.websites.settingOpened.website.options.forceWebsiteNameAndDescription" aria-label="Setting" ng-change="vm.changeOptions('enableSSL')">
                                                    {{ message }}
                                                </md-switch>
                                            </md-list-item>

                                        </md-list>
                                    </md-expansion-panel-content>
                                </md-expansion-panel-expanded>
                            </md-expansion-panel>
                            <md-expansion-panel>
                                <md-expansion-panel-collapsed>
                                    <div class="md-title">Design</div>
                                    <div class="md-summary">You can Design Your Widget design</div>
                                    <md-expansion-panel-icon ng-click="$panel.collapse()"></md-expansion-panel-icon>
                                </md-expansion-panel-collapsed>
                                <md-expansion-panel-expanded>
                                    <md-expansion-panel-header ng-click="$panel.collapse()">
                                        <div class="md-title">Design</div>
                                        <div class="md-summary">You can Design Your Widget design</div>
                                        <md-expansion-panel-icon></md-expansion-panel-icon>
                                    </md-expansion-panel-header>
                                    <md-expansion-panel-content>
                                        <md-list>
                                            <md-list-header>Choose Your Design Settings</md-list-header>
                                            <md-divider></md-divider>
                                            <br>
                                            <md-list-item class="md-2-line">
                                                <div>
                                                    <div class="md-list-item-text">
                                                        <p>Widget Color</p>
                                                    </div>
                                                    <md-input-container>
                                                        <label>Wiget Color</label>
                                                        <input colorpicker readonly type="text" ng-model="vm.websites.settingOpened.website.options.widgetColor">
                                                    </md-input-container>
                                                </div>
                                            </md-list-item>
                                            <md-list-item class="md-2-line">
                                                <div>
                                                    <div class="md-list-item-text">
                                                        <p>Text Size</p>
                                                    </div>
                                                    <md-input-container>
                                                        <md-select placeholder="Select a Text Size" ng-model="vm.websites.settingOpened.website.options.textSize">
                                                            <!--md-on-close: expression; multiple:boolean; placeholder: string;-->
                                                            <md-option ng-value="opt" ng-repeat="opt in ['14','16','18']">{{ opt }}</md-option>
                                                        </md-select>
                                                    </md-input-container>
                                                </div>
                                            </md-list-item>
                                            <md-list-item class="md-2-line">
                                                <div>
                                                    <div class="md-list-item-text">
                                                        <p>Text Style</p>
                                                    </div>
                                                    <md-input-container>
                                                        <md-select placeholder="Select a style" ng-model="vm.websites.settingOpened.website.options.textStyle">
                                                            <!--md-on-close: expression; multiple:boolean; placeholder: string;-->
                                                            <md-option ng-value="opt" ng-repeat="opt in ['bold','italic','light']">{{ opt }}</md-option>
                                                        </md-select>
                                                    </md-input-container>
                                                </div>
                                            </md-list-item>
                                            <md-list-item class="md-2-line">
                                                <div>
                                                    <div class="md-list-item-text">
                                                        <p>Widget Layout</p>
                                                    </div>
                                                    <md-input-container>
                                                        <md-select placeholder="Select a Layout" ng-model="vm.websites.settingOpened.website.options.layout">
                                                            <!--md-on-close: expression; multiple:boolean; placeholder: string;-->
                                                            <md-option ng-value="opt" ng-repeat="opt in ['Bottom Right','Bottom Left']">{{ opt }}</md-option>
                                                        </md-select>
                                                    </md-input-container>
                                                </div>
                                            </md-list-item>

                                            <md-list-item class="md-2-line">
                                                <div>
                                                    <div class="md-list-item-text">
                                                        <p>Widget Height in %</p>
                                                    </div>
                                                    <md-input-container>
                                                        <label>The default height is 40</label>
                                                        <input type="number" placeholder="Define Your Widget Height" ng-model="vm.websites.settingOpened.website.options.widgetHeight">
                                                    </md-input-container>
                                                </div>
                                            </md-list-item>

                                            <md-list-item class="md-2-line">
                                                <div>
                                                    <div class="md-list-item-text">
                                                        <p>Widget Width in %</p>
                                                    </div>
                                                    <md-input-container>
                                                        <label>The default width is 20</label>
                                                        <input type="number" placeholder="Define Your Widget Width" ng-model="vm.websites.settingOpened.website.options.widgetWidth">
                                                    </md-input-container>
                                                </div>
                                            </md-list-item>



                                            <md-list-footer>
                                                <md-button class="md-primary md-raised" ng-click="vm.saveForm()">
                                                    Save
                                                    <md-icon md-font-icon="icon-content-save-all"></md-icon>
                                                </md-button>
                                            </md-list-footer>
                                        </md-list>
                                    </md-expansion-panel-content>
                                </md-expansion-panel-expanded>
                            </md-expansion-panel>
                            <md-expansion-panel>
                                <md-expansion-panel-collapsed>
                                    <div class="md-title">Text</div>
                                    <div class="md-summary">You can your set your own text for widgets</div>
                                    <md-expansion-panel-icon ng-click="$panel.collapse()"></md-expansion-panel-icon>
                                </md-expansion-panel-collapsed>
                                <md-expansion-panel-expanded>
                                    <md-expansion-panel-header ng-click="$panel.collapse()">
                                        <div class="md-title">Text</div>
                                        <div class="md-summary">Control allmost all text of widget</div>
                                        <md-expansion-panel-icon></md-expansion-panel-icon>
                                    </md-expansion-panel-header>
                                    <md-expansion-panel-content>
                                        <md-list class="widget-text-opt">
                                            <md-list-item class="md-2-line">
                                                <div class="text-opt-header">
                                                    <h3>Widget Online Text</h3>
                                                </div>
                                                <md-input-container>
                                                    <label>Online widget text will appears on nav bar on widget when the admins are online</label>
                                                    <textarea ng-model="vm.websites.settingOpened.website.options.onlineText"></textarea>
                                                </md-input-container>
                                            </md-list-item>
                                            <md-list-item class="md-2-line">
                                                <div class="text-opt-header">

                                                    <h3>Widget Offline Text</h3>

                                                </div>
                                                <md-input-container>
                                                    <label>Offline widget text will appears on nav bar on widget when the admins are offline</label>
                                                    <textarea ng-model="vm.websites.settingOpened.website.options.offlineText"></textarea>
                                                </md-input-container>
                                            </md-list-item>
                                            <md-list-item class="md-2-line">
                                                <div class="text-opt-header">
                                                    <h3>Widget header text</h3>

                                                </div>
                                                <md-input-container>
                                                    <label>Widget header text</label>
                                                    <textarea ng-model="vm.websites.settingOpened.website.options.widgetText"></textarea>
                                                </md-input-container>
                                            </md-list-item>

                                            <md-list-item class="md-2-line">
                                                <div class="text-opt-header">
                                                    <h3>Widget welcome message</h3>
                                                </div>
                                                <md-input-container>
                                                    <label>Welcome Message Text</label>
                                                    <textarea ng-model="vm.websites.settingOpened.website.options.welcomeMessage"></textarea>
                                                </md-input-container>
                                            </md-list-item>

                                            <md-list-item class="md-2-line">
                                                <div class="text-opt-header">
                                                    <h3>Thank you message after visitors submits his details</h3>
                                                </div>
                                                <md-input-container>
                                                    <label>This message mostly used in blocked mode and when all admins are offline</label>
                                                    <textarea ng-model="vm.websites.settingOpened.website.options.thankyoumesssageafterformsubmit"></textarea>
                                                </md-input-container>
                                            </md-list-item>

                                             <md-list-item class="md-2-line">
                                                <div class="text-opt-header">
                                                    <h3>Custumer Info Form Header Message</h3>
                                                </div>
                                                <md-input-container>
                                                    <label>This message will appear in the form of customer info.</label>
                                                    <textarea ng-model="vm.websites.settingOpened.website.options.CustumerInfoHeaderMessage"></textarea>
                                                </md-input-container>
                                            </md-list-item>


                                            <md-divider></md-divider>
                                            <div layout-margin></div>

                                            <md-list-item class="md-2-line">
                                                <div layout="column">
                                                    <div class="md-list-item-text">
                                                        <h3>Admin Offline Text</h3>
                                                        <span>These text will be send as a chat message when admin is goes offline while chatting with the visitors</span>
                                                    </div>

                                                    <div ng-repeat="text in vm.offlineTextOption track by $index">
                                                        <md-input-container flex style="display: flex">
                                                            <label>Offline Text</label>
                                                            <input type="text" ng-model="vm.offlineTextOption[$index]">
                                                        </md-input-container>
                                                    </div>
                                                    <div>
                                                        <md-button ng-click="vm.addOfflineTxtField( vm.offlineTextOption[vm.offlineTextOption.length - 1] )" class="md-raised">
                                                            <md-icon md-font-icon="icon-plus">
                                                            </md-icon>
                                                            <span>Add</span>
                                                        </md-button>
                                                    </div>
                                                </div>
                                            </md-list-item>

                                            <md-list-footer>
                                                <md-button class="md-primary md-raised" ng-click="vm.saveForm()">
                                                    Save
                                                    <md-icon md-font-icon="icon-content-save-all"></md-icon>
                                                </md-button>
                                            </md-list-footer>
                                        </md-list>
                                    </md-expansion-panel-content>
                                </md-expansion-panel-expanded>
                            </md-expansion-panel>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
            <!-- / CONTENT -->
        </div>
        <md-button ng-show="!vm.websites.settingOpened" style="position: absolute;top: 30px;right: -20px;" ng-click="vm.addWebsite($event)" aria-label="..." class="md-fab md-primary">
            <md-icon md-font-icon="icon-plus"></md-icon>
        </md-button>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
    <md-sidenav class="sidenav main-sidenav md-white-bg md-sidenav-right" md-is-locked-open="false" md-component-id="setting-sidenav" ng-include="'app/main/website/sidenavs/website-sidenav.html'" ms-scroll ms-sidenav-helper>
    </md-sidenav>
</div>