
#advert-holder{
    min-height: 120px;
    padding: 0px; 
}

.list-card-comp{
	position: relative;
    width: 100%;
    background-color: white;
    color: #000;
    border-radius: 2px;
    transition: box-shadow 150ms ease;
    cursor: pointer;
    padding: 10px;
    height: 100%;
    margin:0 10px 20px 20px;

    .project-link:hover{
    	text-decoration:none;
    }

    .project-link{
    	color:black;
    }

    h4{ 
    	font-size: 19px;
	    margin: 0 0 3px;
	    line-height: 1.1em;
	    word-break: break-all;
	    max-height: 40px;
	    text-overflow: ellipsis;
	    overflow: hidden;
    }

    p{
    	font-size: 16px;
	    line-height: 1.2em;
	    word-wrap: break-word;
	    color: #777777;
	    max-height: 40px;
	    text-overflow: ellipsis;
	    overflow: hidden;
    }

    p.counts{
		font-size: 12px;
    }

    .list-card-members-comp {
    	margin-bottom: 12px;

	    .list-card-member-comp{
	    	.list-card-member-avatar-comp{
		    	border-radius: 50%;
				width: 32px;
			    height: 32px;
	    	}
	    }
    }

}

.list-card-comp:hover{
	background-color:#f3f6fa;
}

#project-page .header{
	min-height:auto;
	height:65px;
}

.script-container{
    resize: none;
}

#project-page{
    .widget-opt-header{
        margin:0;
    }
}

.widget-text-opt{
    md-list-item{
        flex-direction: column;

         md-input-container{
            display:flex;
            width: 100%;

            .md-resize-wrapper{
                width: 100%;
            }
         }
    }
}