<div id="dashboard-project" class="page-layout simple right-sidenav" layout="row">

    <!-- CENTER -->
    <div class="center" flex ms-scroll>

        <!-- HEADER -->
        <div class="header md-accent-bg" layout="column" layout-align="space-between">
            <div layout="row" layout-align="space-between">
                <div>
                    <span class="md-display-1 font-weight-300">Welcome back, {{ me.fullName }}</span>
                </div>
            </div>

            <div layout="row">
                <div class="selected-project">{{ vm.selectedWebsite.name }}</div>

                <md-menu id="projects-menu" md-offset="0 48">
                    <md-button class="md-icon-button project-selector" ng-click="$mdOpenMenu()"
                               aria-label="Select project" md-menu-origin md-menu-align-target>
                        <md-icon md-font-icon="icon-dots-horizontal"></md-icon>
                    </md-button>

                    <md-menu-content width="3" class="md-background-bg">
                        <md-menu-item ng-repeat="project in vm.websites">
                            <md-button ng-click="vm.selectProject($index)" aria-label="{{project.name}}">
                                <span ng-class="{'secondary-text': vm.selectedWebsite.name == project.name}">{{project.name}}</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content">

            <md-tabs md-dynamic-height>

                <md-tab label="Home">

                    <!-- WIDGET GROUP -->
                    <div class="widget-group" ng-if="vm.widget5" layout="row" flex="100" layout-wrap>

                        <!-- WIDGET 5 -->
                        <ms-widget layout="row" flex="100">

                            <!-- Front -->
                            <ms-widget-front class="white-bg">
                                <div class="ph-16 pv-8 border-bottom" layout="row" layout-align="space-between center"
                                     layout-wrap>
                                    <div class="pv-8 h3">{{vm.widget5.title}}</div>

                                    <div class="pv-8" layout="row" layout-align="start center" layout-align-sm="end"
                                         flex-sm="100">
                                        <md-button class="ph-16"
                                                   ng-repeat="(key, range) in vm.widget5.ranges"
                                                   ng-click="vm.widget5.changeRange(key)"
                                                   ng-disabled="vm.widget5.currentRange == key">
                                            {{range}}
                                        </md-button>
                                    </div>
                                </div>

                                <div layout="row" layout-align="start center" layout-wrap>
                                    <div class="p-16" layout="row" flex="100">
                                        <nvd3 class="h-420 remove-x-lines"
                                              config="vm.widget5.mainChart.config"
                                              options="vm.widget5.mainChart.options"
                                              data="vm.widget5.mainChart.data"></nvd3>
                                    </div>

                                    <div class="p-16" layout="row" flex="100" layout-wrap>
                                        <div class="p-16" layout="column" flex="100"
                                             layout-align="center"
                                             ng-repeat="(name, widget) in vm.widget5.supporting.widgets">
                                            <div class="h4 secondary-text">{{widget.data.label}}</div>
                                            <div class="md-display-1">
                                                {{widget.data.count[vm.widget5.currentRange]}}
                                            </div>
                                            <nvd3 class="h-50"
                                                  config="vm.widget5.supporting.chart.config"
                                                  options="vm.widget5.supporting.chart.options"
                                                  data="widget.chart.data"></nvd3>
                                        </div>
                                    </div>
                                </div>
                            </ms-widget-front>
                            <!-- / Front -->

                        </ms-widget>
                        <!-- / WIDGET 5 -->

                    </div>
                    <!-- / WIDGET GROUP -->

                </md-tab>
            </md-tabs>

        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

</div>