<md-dialog id="update-info-dailog" aria-label="Fname">
  <form name="pageForm" ng-cloak ng-submit="vm.saveDetails(pageForm)">
    
    <md-toolbar class="md-accent md-hue-2" layout="column">
      <div class="md-toolbar-tools">
        <span class="title" style="font-size: 17px;">Manage Your Account</span>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()">
          <md-icon md-font-icon="icon-close-circle" aria-label="Close New Form Page"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
  
    <md-dialog-content>
      <div layout="column">
          <iframe style="border: none;" width="800" height="800" ng-src="{{ vm.currentUser.manageURL }}"></iframe>
      </div>  

    </md-dialog-content>
      

  </form>
</md-dialog>