<md-dialog id="update-info-dailog" aria-label="Fname">
  <form name="pageForm" ng-cloak ng-submit="vm.saveDetails(pageForm)">
    
    <md-toolbar class="md-accent md-hue-2" layout="column">
      <div class="md-toolbar-tools">
        <span class="title" style="font-size: 17px;"> {{ vm.dailogTitle || "Update Your Info" }}</span>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()">
          <md-icon md-font-icon="icon-close-circle" aria-label="Close New Form Page"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-actions layout="row">
      <md-button type="submit">
       Save
      </md-button>
    </md-dialog-actions>
  
    <md-dialog-content>
      <div layout="column">
        
        <div class="user-big-avatar" layout="row" layout-align="center center" ng-click="vm.triggerAvatarChange()">
            <img class="avatar avatar-large" ng-if="!vm.resultImg" ng-src="{{ vm.current.avatar }}">
            <img class="avatar avatar-large" ng-if="vm.resultImg" ng-src="{{ vm.resultImg }}">
            <md-tooltip>Change Your Profile Picture</md-tooltip>
        </div>
        
        <md-input-container class="md-block">
          <label>First Name</label>
          <input type="text" name="first_name" ng-model="vm.current.firstName" required md-autofocus>

          <div ng-messages="pageForm.first_name.$error" role="alert">
              <div ng-message="required">
                  <span>First Name Required</span>
              </div>
          </div>
        </md-input-container>
        <md-input-container>
  
          <label>Last Name</label>
          <input type="text" name="last_name" ng-model="vm.current.lastName" required md-autofocus>

          <div ng-messages="pageForm.last_name.$error" role="alert">
              <div ng-message="required">
                  <span>Last Name Required</span>
              </div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Description</label>
          <textarea name="description" ng-model="vm.current.description" md-autofocus></textarea>
        </md-input-container>

      </div>  
      
      <p>Change your profile Picture

      <div id="file-upload-drop" dropzone="vm.output" result-img="vm.resultImg">
        
      </div>


    </md-dialog-content>
      

  </form>
</md-dialog>