<!-- CONTACT TOOLBAR -->
<md-toolbar class="md-accent">

    <!-- TOOLBAR TOP -->
    <div class="md-toolbar-tools md-toolbar-tools-top">

        <span>Use Macro On Chat</span>

        <div flex></div>

        <md-button class="md-icon-button" ng-click="vm.toggleSidenav('right-sidenav')" aria-label="back">
            <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>

    </div>
    <!-- / TOOLBAR TOP -->

</md-toolbar>
<!-- / CONTACT TOOLBAR -->

<!-- CONTACT CONTENT -->
<md-content class="md-hue-2" flex ms-scroll ms-padding>

    <!-- CONTACT MOOD -->
    <md-card>

        <md-card-title ng-repeat="macro in vm.macroList track by macro.id" layout="column">
            <div layout="row" flex layout-align="space-between center">
                <h3>{{ macro.name }}</h3>
                <md-button class="md-primary md-raised" ng-click="vm.useMacro(macro.name)">Use</md-button>
            </div>
            <div>
                {{ macro.textorURL }}
            </div>
        
        </md-card-title>
    </md-card>

    <md-card>
        
        <md-card-title>
            <form name="customPushMacroForm" flex layout="column" ng-submit="vm.useMacro('[[push=' + vm.customPushMacro + ']]');vm.showPushMacroInput = false">
                
                <h3>
                    <code>[[push=http://google.com]]</code>
                </h3>
                
                <span>You can use this macro to redirect user browser to any website</span>

                <md-button class="md-primary md-raised" ng-click="vm.showPushMacroInput = true" ng-hide="vm.showPushMacroInput">Prepare</md-button>
                
                <md-button class="md-primary md-raised" type="submit" ng-disabled="customPushMacroForm.$invalid" ng-if="vm.showPushMacroInput">Use</md-button>

                <md-input-container ng-if="vm.showPushMacroInput">
                    <label>Website</label>
                    <input required ng-pattern="/(?:(?:https?:\/\/(?:www\.|(?!www)))?[^\s\.]+\.[^\s]{2,}|www\.[^\s]+\.[^\s]{2,})/" name="navigationMacro" type="text" ng-model="vm.customPushMacro">
                </md-input-container>
            </form>

        </md-card-title>

    </md-card>

  

    <!-- / CONTACT MOOD -->

</md-content>
<!-- / CONTACT CONTENT -->