<div id="project-page" class="page-layout carded fullwidth" layout="row">
    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->
    <!-- CENTER -->
    <div class="center" layout="column" flex>
        <!-- CONTENT HEADER -->
        <div class="header">
            <span class="h2 white-fg">Internal Reporting</span>
        </div>
        <!-- / CONTENT HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex ng-hide="vm.websites.settingOpened">
            <!-- CONTENT TOOLBAR -->
            <!-- / CONTENT TOOLBAR -->
            <!-- CONTENT -->
       

            <md-content class="content" flex ms-scroll layout-wrap ng-if="vm.referrals.length !== 0">
        
                <h3>Reporting</h3>

                <form ng-submit="vm.callReporing()">
                    
                    <md-input-container>
                        <label>Log Type</label>
                        <input type="text" ng-model="vm.reportingText">
                    </md-input-container>

                    <div>
                        
                        <md-button class="md-raised" type="submit">
                            Get Report
                        </md-button>

                        <md-button class="md-raised" ng-click="vm.clearReports()">
                            Clear
                        </md-button>

                    </div>

                </form>

                <div ng-repeat="report in vm.reporting">
                    
                    <div ms-json-tree="report"></div>    
                
                </div>
              
            </md-content>
            
        </div>
    </div>
</div>