<!-- CHAT APP -->
<div id="chat-app" class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT CARD -->
        <div class="content-card" layout="row" flex>

            <!-- LEFT SIDENAV -->
            <md-sidenav class="sidenav left-sidenav md-sidenav-left" md-is-locked-open="$mdMedia('gt-xs')"
                        md-component-id="left-sidenav"
                        ms-sidenav-helper ng-include="'app/main/apps/chat/sidenavs/left/left-sidenav.html'"
                        layout="column">
            </md-sidenav>

            <!-- START -->
            <div class="start-point" ng-if="!vm.currentChat" flex layout="column" flex layout-align="center center">

                <div class="big-circle md-whiteframe-4dp">

                    <md-icon class="s128 md-accent" md-font-icon="icon-hangouts"></md-icon>

                </div>

                <span class="app-title">CHAT</span>

                <span class="hide show-gt-md secondary-text">Start to engaging with the visitors.. </span>
                <md-button class="md-raised hide-gt-md" ng-if="!isMobile()" ng-click="vm.toggleSidenav('left-sidenav')">
                    Start to engaging with the visitors
                </md-button>

                <md-button class="md-raised hide-gt-md" ng-if="isMobile()">
                   Download Our Android App
                </md-button>

            </div>
            <!-- / START -->

            <!-- CHAT -->
            <div ng-if="vm.currentChat" class="chat" layout="column" flex>

                <!-- CHAT TOOLBAR -->
                <md-toolbar class="chat-toolbar">

                    <div class="md-toolbar-tools">

                        <!-- RESPONSIVE CHATS BUTTON-->
                        <md-button class="hide-gt-md responsive-chats-button md-icon-button"
                                   ng-click="vm.toggleLeftSidenavView(false);vm.toggleSidenav('left-sidenav')"
                                   aria-label="chats button">
                            <md-icon md-font-icon="icon-hangouts s36"></md-icon>
                        </md-button>
                        <!-- / RESPONSIVE CHATS BUTTON-->

                        <!-- CHAT CONTACT-->
                        <div class="chat-contact" layout="row" layout-align="start center"
                             ng-click="vm.toogleRightSideNavView('visitor-info');vm.toggleSidenav('right-sidenav');vm.checkIfInfoDb()">

                            <div class="avatar-wrapper">
                                    
                                <img ng-src="{{vm.currentChat.avatar}}"
                                     class="avatar" alt="{{vm.currentChat.fullName}}"/>

                                <i class="icon icon- s16 status"
                                   ng-class="vm.contacts.getById(vm.chatContactId).status">
                                </i>

                            </div>
                            <div class="chat-contact-name">
                                {{vm.currentChat.fullName}} {{ vm.currentChat.blocked ? '(Blocked)' : '' }}
                            </div>

                        </div>
                        <!-- / CHAT CONTACT-->

                        <md-menu md-position-mode="target-right target">

                            <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
                                       aria-label="more">
                                <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                            </md-button>

                            <md-menu-content width="3">
                                <md-menu-item>
                                    <md-button ng-click="vm.toogleRightSideNavView('visitor-info');vm.toggleSidenav('right-sidenav');vm.checkIfInfoDb()">
                                        Visitor Info
                                    </md-button>
                                </md-menu-item>

                                  <md-menu-item ng-if="vm.currentChat.blocked">
                                    <md-button ng-click="vm.blockVisitor(vm.currentChat.groupName, 0)">
                                        Unblock the visitor
                                    </md-button>
                                </md-menu-item>

                                <md-menu-item ng-if="!vm.currentChat.blocked">
                                    <md-button ng-click="vm.blockVisitor(vm.currentChat.groupName, 1)">
                                        Block the visitor
                                    </md-button>
                                </md-menu-item>

                                <md-menu-item>
                                    <md-button ng-click="vm.askForClientInfo(vm.currentChat.groupName)">
                                        Ask For Client Info
                                    </md-button>
                                </md-menu-item>

                                <md-menu-item>
                                    <md-button ng-click="vm.loadMacroList()">
                                        Macro List
                                    </md-button>
                                </md-menu-item>

                            </md-menu-content>

                        </md-menu>

                    </div>
                </md-toolbar>
                <!-- / CHAT TOOLBAR -->

                <!-- CHAT CONTENT -->
                
                  <md-virtual-repeat-container md-content id="chat-content" flex>
                    <!-- CHAT MESSAGES -->
                    <div class="chat-messages" ng-if="vm.currentChat" lazy-scroll="vm.loadOlderMessage()" scroll-elem="#chat-content .md-virtual-repeat-scroller"  by-reverse="true">
                    

                         <div layout="row" class="md-padding message-row user" ng-if="vm.currentChat.messages.length === 0">
                            <div>
                               <h3>You are chatting {{ vm.currentChat.fullName }} for the first time on {{ vm.currentChat.webSite }}</h3>
                               <div><h4>Flet boring by typing often!</h4> You can create macros for this website and use it right now to make ease for chatting with visitors.</div>
                               <md-button class="md-raised md-primary" ng-click="vm.loadMacroList()">
                                    Open Macro
                               </md-button>
                            </div>

                        </div>

                        <!-- MESSAGE -->
                        <div layout="row" md-virtual-repeat="dialog in vm.currentChat.messages | orderBy: 'DateTime'" class="md-padding message-row"
                             ng-class="(dialog.User.IsAdmin == true) ? 'user' : 'contact'">

                            <img ng-if="dialog.User.IsAdmin == true"
                                 ng-src="{{ dialog.User.avatar }}"
                             class="avatar"
                                 alt="{{dialog.User.fullName}}"/>

                            <img ng-if="dialog.User.IsAdmin == false" class="avatar" ng-src="{{dialog.User.avatar}}">

                            <div class="bubble">
                                <div class="message" ng-bind-html="dialog.Message"></div>
                                <div class="time secondary-text">{{ dialog.DateTime | altDate }}</div>
                            </div>

                        </div>

                         <div layout="row" class="md-padding message-row contact" ng-if="vm.currentChat.isTyping">
                            
                            <div class="avatar-holder">
                                 <img class="avatar" ng-src="{{ vm.currentChat.isTyping.a }}" />
                            </div>

    
                            <div class="bubble">
                                 <div class="keyboard-typing">
                                    <span>                                        
                                    </span>
                                 </div>
                            </div>

                        </div>

                        </div>
                        <!-- / MESSAGE -->

                    </md-virtual-repeat-container>
                    <!-- CHAT MESSAGES -->

                <!-- / CHAT CONTENT -->

                <!-- CHAT FOOTER -->
                <div class="chat-footer flex-noshrink" layout="column" layout-align="center">

                    <!-- REPLY FORM -->
                    <form ng-submit="vm.reply()" flex class="reply-form" layout="row" layout-align="start center">

                        <md-input-container flex md-no-float>
                            <textarea ng-keyup="vm.reply($event)"
                                      md-no-autogrow ng-model="vm.replyMessage"
                                      ng-class="{'grow': vm.textareaGrow}"
                                      placeholder="Type and hit enter to send message"
                                      translate
                                      id="chat-input"
                                      translate-attr-placeholder="CHAT.REPLY_PLACEHOLDER">
                            </textarea>
                        </md-input-container>

                        <md-button class="md-fab" type="submit" aria-label="Send message" translate
                                   translate-attr-aria-label="CHAT.SEND_MESSAGE">
                            <md-icon md-font-icon="icon-send"></md-icon>
                        </md-button>

                    </form>
                    
                    <!-- / REPLY FORM -->
                </div>
                <!-- / CHAT FOOTER-->

            </div>
            <!-- / CHAT -->

            <!-- RIGHT SIDENAV -->
            <md-sidenav class="sidenav right-sidenav md-sidenav-right" layout="column"
                        md-component-id="right-sidenav"
                        ms-sidenav-helper ng-include="'app/main/apps/chat/sidenavs/right/right-sidenav.html'">
            </md-sidenav>
            <!-- / RIGHT SIDENAV -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
<!-- / CHAT APP -->