[dropzone] {
	.upload-panel{
		border: 2px dashed #bbb;
	    border-radius: 5px;
	    padding: 25px;
	    text-align: center;
	    font: 20pt bold;
	    color: #bbb;
	    margin-bottom: 20px;
	}

	.on-drag-enter{
		background-color:#cee;
	}

	.crop-zone{
		position:relative;
		height: 250px;
		width: 350px;

		.clear-image{
			position:absolute;
			top: -15px;
			right: -2px;
			
			md-icon{
				color: white;
			}
		}	
	}
} 