<!-- CHATS TOOLBAR -->
<md-toolbar class="md-tall">

    <!-- TOOLBAR TOP -->
    <div class="md-toolbar-tools md-toolbar-tools-top">

        <!-- USER AVATAR WRAPPER -->
        <div class="avatar-wrapper">

            <!-- USER AVATAR -->
            <img ng-click="vm.toggleLeftSidenavView('user')" ng-src="{{ vm.me.avatar }}" class="md-avatar avatar"
                 alt="{{ me.fullName }}" />
            <!-- / USER AVATAR -->

            <!-- USER STATUS -->
            <i class="icon icon- s16 status" ng-class="vm.user.status"></i>


        </div>
        <!-- / USER AVATAR -->

        <md-menu md-position-mode="target-right target">

            <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
                       aria-label="more">
                <md-icon md-font-icon="icon-dots-vertical"></md-icon>
            </md-button>

            <md-menu-content width="3">
                <md-menu-item>
                    <md-button ng-click="vm.toggleLeftSidenavView('user')" translate="CHAT.PROFILE">
                        Profile
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="vm.loadUserHistory()">
                        Load Message History
                    </md-button>
                </md-menu-item>
            </md-menu-content>

        </md-menu>

    </div>
    <!-- / TOOLBAR TOP -->

    <!-- TOOLBAR BOTTOM -->
    <div class="md-toolbar-tools md-toolbar-tools-bottom">

        <!-- SEARCH -->
        <div class="search-wrapper md-whiteframe-1dp" layout="row" layout-align="start center" flex>

            <div class="search" flex layout="row" layout-align="start center">

                <md-icon md-font-icon="icon-magnify" class="icon s18">
                </md-icon>

                <input flex ng-model="vm.chatSearch" type="text" placeholder="Search or start new chat" translate=""
                       translate-attr-placeholder="CHAT.CHAT_SEARCH_PLACEHOLDER">

            </div>
        </div>
        <!-- / SEARCH -->

    </div>
    <!-- / TOOLBAR BOTTOM -->

</md-toolbar>
<!-- / CHATS TOOLBAR -->

<!-- CHATS CONTENT -->
<md-content id="left-chat" flex ng-style="{'overflow': 'hidden'}">

    <!-- CHATS LIST-->
    <md-list class="chat-list" ng-if="vm.chatState.activeUsers !== null && vm.chatState.activeUsers.length !== 0">

        <div ng-show="vm.chatSearch && vm.chatState.activeUsers.length > 0" class="md-accent-fg subheader"
             ng-style="{'transform':'translate3d(0px, 0px, 0px)', 'z-index': vm.chatState.activeUsers.length + filteredContact.length }" scroll-elem="#left-chat .md-virtual-repeat-scroller"
             translate="CHAT.CHATS">
            CHATS
        </div>
        <md-virtual-repeat-container style="min-height: 445px;">
            <md-list-item class="contact md-3-line"
                          ng-style="{'transform': ( vm.chatSearch && vm.chatState.activeUsers.length > 0 ) ?'translate3d(0px, '+($index + 1)* 100+'%, 0px)': 'translate3d(0px, '+$index* 100+'%, 0px)', 'z-index': vm.chatState.activeUsers.length + filteredContact.length - $index}"
                          md-virtual-repeat="contact in vm.chatState.activeUsers | filter:{CurrentHost: vm.chatSearch} | orderBy:'status'" ng-click="vm.getChat(contact, $index)" ng-class="{'unread':contact.unread}">

                <div class="avatar-wrapper">
                    <img ng-src="{{contact.avatar}}" class="md-avatar avatar" alt="{{contact.fullName}}"/>
                    <i class="icon icon- s16 status" ng-class="{ 'online': contact.online, 'offline': !contact.online }"></i>
                </div>

                <div class="md-list-item-text">
                    <h3 class="name">{{contact.fullName}}</h3>
                    <div class="last-message-time">{{contact.webSite}}</div>
                    <p class="last-message text-truncate"><span ng-bind-html="contact.LastMessage"></span> <span style="font-weight:bolder" ng-if="contact.isTyping">....</span> </p>
                </div>

                <div layout="column" layout-align="center end">
                    <div ng-if="contact.unread" class="md-accent-bg unread-message-count">{{contact.unread}}</div>
                </div>

                <md-divider></md-divider>

            </md-list-item>
        </md-virtual-repeat-container>
        
    </md-list>
    <!-- / CHATS LIST-->

  
    <div ng-if="vm.chatState.activeUsers.length === 0 || vm.chatState.activeUsers == null" layout="row" layout-align="start center">
    <!-- NO RESULTS MESSAGE -->
        <div ng-if="vm.chatState.activeUsers == null" class="no-results-message">
            <span>Loading</span>
            <md-progress-circular md-mode="indeterminate" md-diameter="20"></md-progress-circular>
        </div>

         <div ng-if="vm.chatState.activeUsers.length === 0" class="no-results-message"
             translate="CHAT.NO_RESULTS">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    <!-- NO RESULTS MESSAGE-->
    </div>

</md-content>
<!-- / CHATS CONTENT -->

<!-- CONTACTS BUTTON -->
<!-- <md-button class="md-fab contacts-button" ng-click="vm.toggleLeftSidenavView('contacts')" aria-label="contacts button">
    <md-icon md-font-icon="icon-plus"></md-icon>
</md-button> -->
<!-- / CONTACTS BUTTON -->