<md-dialog aria-label="Mango (Fruit)">
    <md-dialog-actions layout="row">
    
      <md-button type="submit" ng-click="vm.onCallAccepted()" ng-if="!vm.supportBoxMessage">
       Accept
      </md-button>
  
      <span ng-bind="vm.supportBoxMessage"></span>

      <md-button ng-click="vm.onCallDeclined()">
        Decline
      </md-button>
    </md-dialog-actions>
  
    <md-dialog-content>
         <div class="start-point" flex layout="column" flex layout-align="center center">

            <div class="big-circle">

                <md-icon class="s128 md-accent" md-font-icon="icon-hangouts"></md-icon>

            </div>

            <span class="app-title">Some wants is trying to chat</span>

        </div>
    </md-dialog-content>
</md-dialog>