<div id="project-page" class="page-layout carded fullwidth" layout="row">
    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->
    <!-- CENTER -->
    <div class="center" layout="column" flex>
        <!-- CONTENT HEADER -->
        <div class="header">
            <span class="h2 white-fg">Reffer Live Customer Chat to your friends and earn points.</span>
        </div>
        <!-- / CONTENT HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex ng-hide="vm.websites.settingOpened">
            <!-- CONTENT TOOLBAR -->
            <div class="toolbar" layout="row" layout-align="space-between center">
                <span>Refering to your friends</span>
                <md-button class="md-icon-button" ng-click="vm.openAddReferral($event)">
                    <md-icon md-font-icon="icon-plus"></md-icon>
                </md-button>
            </div>
            <!-- / CONTENT TOOLBAR -->
            <!-- CONTENT -->
            
            <md-content layout='row' layout-align="center center"  ng-if="vm.referrals === null">
                    
                <span>Loading</span>
                <md-progress-circular md-mode="indeterminate" md-diameter="20"></md-progress-circular>
        
            </md-content>

            <md-content class="content" flex ms-scroll layout-wrap ng-if="vm.referrals.length !== 0">
        
                <h3>All Referalls</h3>
                <table class="simple" ms-responsive-table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Website</th>
                                <th>Status</th>
                                <th>Referral Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="referral in vm.referrals track by referral.id">
                                <td class="name">{{ referral.fullName }}</td>
                                <td class="name">{{ referral.email }}</td>
                                <td class="name">{{ referral.website }}</td>
                                <td class="name">{{ referral.status === 0 ? 'Pending' : ( referral.status === 1 ? 'Accepted' : 'Invalid'  )  }}</td>
                                <td class="name">{{ referral.referralDate | altDate }}</td>
                            </tr>
                        </tbody>
                    </table>
            </md-content>
            
             <md-content layout="column" layout-align="center cetnter" flex ng-if="vm.referrals.length === 0">
                <div layout-padding><h2>You have not refered to any one. Hurryup! Actually referring to your friends helps you to get bonus to get bouns on our packages.</h2>
                    <md-button ng-click="vm.openAddReferral($event)" class="md-raised md-primary">Refer to a freind <md-icon md-font-icon="icon-plus"></md-icon></md-button>
                    
                </div>

            </md-content>


            <span bind-script="me.advert" style="height: 200px"></span>
        </div>
    </div>
</div>